/* Titres et numérotations */
/* Numérotation */
body {
    counter-reset: h2 h3;
}

h2:before {
    content: counter(h2) "  ";
    counter-increment: h2;
}

h2 {
    counter-reset: h3;
}

h3:before {
    content: counter(h2) "." counter(h3) "  ";
    counter-increment: h3;
}

/* Styles */
h2, h3 {
    color: #EE00FF;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
    font-weight: bold;
    padding-left: 15px;
}

h5 {
    font-size: 1em;
    padding-left: 30px;
    font-style: italic;
}

p {
    color: #494949;
}

strong {
    color: #2c2c2c;
}

/* Blocs de la page home */

@media (min-width: 992px) {

    .fixed-col {
        min-height: 500px;
        max-height: 500px;
        overflow-y: hidden;
    }
}

.thumbnail {
    border: 0 none white !important;
    box-shadow: none;
}

hr {
    border-bottom: 1px solid #6700FF;
}

h1, a {
    color: #6700FF;
    border-bottom: none;
}

a:hover {
    color: #6700FF;
}

/* Entête partie gauche */

header {
    position: fixed;
    z-index: 1030;
    margin-top: 0 !important;
    padding-top: 20px !important;
    padding-left: 15px !important;
    background-color: white;
    border-bottom: 2px solid #6700FF !important;
    width: 100%;
}

/* Entête partie droite (tip of the day) */

.additional a {
    color: #EE00FF;
    font-size: 1em;
}

.additional a:hover {
    color: #EE00FF;
}

.additional pre {
    border: none;
    margin: 5px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    background-color: transparent;
}

.additional h1 {
    color: #EE00FF;
    border-bottom: none;
    margin-bottom: 50px;
}

.content {
    padding-top: 130px;
}

.additional {
    position: fixed;
    z-index: 1050;
    right: 0;
    padding-top: 20px;
}

@media (min-width: 992px) {

    .content {
        /* Sur grand écran la bulle est affichée
        donc on décale le contenu à gauche */
        padding-right: 300px;
    }

    .additional {
        width: 300px;
        min-height: 500px;
        padding-left: 50px;
        padding-bottom: 50px;
        background-color: #EE00FF;
        background-image: url(background.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        font-size: 1.3em;
    }
}

@media (max-width: 991px) {

    .additional h1 {
        padding-right: 10px;
        text-align: right;
    }

    .hidden-small {
        display: none;
    }

    .additional div {
        display: none;
    }

    .additional:hover div {
        display: block;
    }

    .additional {
        background-color: white;
    }
    .additional:hover {
        width: 50%;
        min-height: 100%;
        max-height: 100%;
        padding-left: 40px;
        padding-bottom: 10px;
        background-color: #EE00FF;
        background-image: url(background.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

}