/* TODO
@media(min-width: @screen-md-min) {

    .fixed-col {
        min-height: 500px;
        max-height: 500px;
        overflow-y: hidden;
    }
}*/

body {

}
header {
    position: fixed;
    z-index: 1030;
    margin-top: 0px !important;
    padding-top: 20px !important;
    padding-left: 15px !important;
    background-color: white;
    border-bottom: 2px solid #6700FF !important;
    width: 100%;
}

.content {
    padding-top:130px;
    padding-right: 300px; /* TODO adapt with device and JS hide */
}

.thumbnail {
    border:0px none white !important;
    box-shadow:none;
   /* background-image: url(background.png);*/
}

header h1, .additional h1 {
    color: #6700FF;
    border-bottom: none;
}
.additional h1 {
    color: #EE00FF;
    border-bottom: none;
    margin-bottom: 50px;
}

h1 {
    color: #8a8a8a;
    /*border-bottom: 1px solid #FF0700;*/
}

hr {
    border-bottom: 1px solid #6700FF;
}

p {
    color: #494949;
}

strong {
    color: #2c2c2c;
}

.additional {
    position: fixed;
    z-index: 1050;
    right: 0px;
    width: 300px; /* TODO adapt with device and JS hide */
    /*border: solid 1px #6700FF;*/
    background-color: white;
    background-image: url(background.png);
    min-height: 500px;
    max-height: 500px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
    font-size: 1.3em;
}